<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/">Sandeep Kunkunuru</a>
		<div class="nav-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="http://blog.tingri.me">Blog</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b>
				</a>
					<ul class="dropdown-menu">
						<li><a href="https://bitbucket.org/kunkunur/machinelearning">Machine Learning</a></li>
						<li><%= link_to "Implementation of workflows using BPEL", gdocs_index_path(:d => "bpel") %></li>
						<li><%= link_to "JMS Based EAI", gdocs_index_path(:d => "jmseai") %></li>
					</ul></li>

				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Gists<b class="caret"></b>
				</a>
					<ul class="dropdown-menu">
						<li><%= link_to "Multi-Threaded programming using join,wait,notify", gists_index_path(:d => "thread") %></li>
						<li><%= link_to "Remote JVM Monitoring", gists_index_path(:d => "jvmmonitoring") %></li>
						<li><%= link_to "Plot to compare Big O functions", gists_index_path(:d => "bigocomparison") %></li>
						<li><%= link_to "Generate statistics on a SVN repository", gists_index_path(:d => "svnstats") %></li>
						<li><%= link_to "VoltDB Puppet manifest", gists_index_path(:d => "puppet") %></li>
					</ul></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Notes<b class="caret"></b>
				</a>
					<ul class="dropdown-menu">
						<li><%= link_to "Java", gdocs_index_path(:d => "java") %></li>
						<li><%= link_to "Javascript", gdocs_index_path(:d => "javascript") %></li>
						<li><%= link_to "Unix Shell Scripting", gdocs_index_path(:d => "unixshellscripting") %></li>
						<li><%= link_to "Web Services", gdocs_index_path(:d => "webservices") %></li>
						<li><%= link_to "JMS", gdocs_index_path(:d => "jms") %></li>
						<li><%= link_to "PostgreSQL", gdocs_index_path(:d => "postgresql") %></li>
					</ul></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">About Me<b class="caret"></b>
				</a>
					<ul class="dropdown-menu">
						<li><%= link_to "Resume", gdocs_index_path(:d => "resume") %></li>
						<li><%= link_to "Coursera:Statement of Accomplishment:Machine Learning", gdocs_index_path(:d => "soaml") %></li>
						<li><%= link_to "More...", standard_links_about_path %></li>
					</ul></li>
				<li><%= link_to "Contact", standard_links_contact_path %></li>
			</ul>
		</div>
	</div>
</div>
