<div class="container">
    <div class="masthead">
        <h3 class="text-muted">
            <a class="navbar-brand" href="/">Sandeep Kunkunuru</a>
        </h3>
        <ul class="nav nav-justified">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="http://blog.tingri.me">Blog</a></li>
            <li class="dropdown">
                <a href="#projects" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="http://gem.tingri.me">Energy Hackathon: Green Energy Monitor</a></li>
                    <li><a href="https://github.com/sandeepkunkunuru/voltdb-jdbc-loader">VoltDB: JDBC Data Migration Tool</a></li>
                    <li><a href="https://github.com/sandeepkunkunuru/37bm_greenhouse_gas_emissions">37bm: Green House Gas Emissions</a></li>
                    <li><a href="https://github.com/sandeepkunkunuru/big_data">Hive: Stand alone tutorial</a></li>
                    <li><%= link_to t('MTECH_MID_PROJECT'), "https://github.com/sandeepkunkunuru/jms_eai" %></li>
                    <li><a href="https://bitbucket.org/sandeepkunkunuru/machinelearning">Machine Learning</a></li>
                    <li><%= link_to t('MTECH_FINAL_PROJECT'), gdocs_index_path(:d => t('bpel')) %></li>
                </ul>
            </li>

            <li class="dropdown"><a href="#gists" class="dropdown-toggle" data-toggle="dropdown">Gists<b class="caret"></b>
            </a>
                <ul class="dropdown-menu">
                    <li><%= link_to t('THREAD_GIST_LABEL'), gists_index_path(:d => t('THREAD')) %></li>
                    <li><%= link_to 'VoltDB Puppet manifest', gists_index_path(:d => 'puppet') %></li>
                    <li><%= link_to t('WebService_Command_Line'), gists_index_path(:d => 'webservice') %></li>
                    <li><%= link_to 'Plot to compare Big O functions', gists_index_path(:d => 'bigocomparison') %></li>
                    <li><%= link_to 'Tagging without Javascript', gists_index_path(:d => 'tagwithoutjs') %></li>
                    <li><%= link_to 'Remote JVM Monitoring', gists_index_path(:d => 'jvmmonitoring') %></li>
                    <li><%= link_to 'Generate statistics on a SVN repository', gists_index_path(:d => 'svnstats') %></li>
                    <li><%= link_to 'Ping Website', gists_index_path(:d => 'pingwebsite') %></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#slides" class="dropdown-toggle" data-toggle="dropdown">Slides<b class="caret"></b>
            </a>
                <ul class="dropdown-menu">
                    <li><%= link_to 'Data Structures - Logical and Physical', sdocs_index_path(:d => 'datastructures') %></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#notes" class="dropdown-toggle" data-toggle="dropdown">Notes<b class="caret"></b>
            </a>
                <ul class="dropdown-menu">
                    <li><%= link_to 'Java', gdocs_index_path(:d => 'java') %></li>
                    <li><%= link_to 'Javascript', gdocs_index_path(:d => 'javascript') %></li>
                    <li><%= link_to 'Unix Shell Scripting', gdocs_index_path(:d => 'unixshellscripting') %></li>
                    <li><%= link_to 'Web Services', gdocs_index_path(:d => 'webservices') %></li>
                    <li><%= link_to 'JMS', gdocs_index_path(:d => 'jms') %></li>
                    <li><%= link_to 'PostgreSQL', gdocs_index_path(:d => 'postgresql') %></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#about" class="dropdown-toggle" data-toggle="dropdown">About Me<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><%= link_to 'Resume', gdocs_index_path(:d => 'resume') %></li>
                    <li><%= link_to 'Certifications', gdocs_certifications_path(:d => 'certifications') %></li>
                    <li><%= link_to 'More...', standard_links_about_path %></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
